.border-note {
    margin-top: 20px;
}
.top-menu {
    
}

.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.top-menu ul li {
    display: inline;
    padding: 10px;
    
}

.top-menu ul li > a {
    color: white;
}
.datepicker{
    z-index: 1040 !important;
}

.heading-block {
    display: flex;
}

.tag-block {
    width: auto;
    min-width: 300px;
}

input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
}